@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-display: 'Inter', sans-serif;
	--color-accent: var(--color-accent-blue);
	--color-accent-blue: oklch(0.6399 0.1588 259.57);
	--color-accent-aqua: oklch(0.8228 0.1202 205.9);
	--color-accent-green: oklch(0.7031 0.2313 141.98);
	--color-accent-purple: oklch(0.5732 0.2721 309.74);
	--color-accent-pink: oklch(0.7201 0.1894 328.33);
	--color-accent-red: oklch(0.6335 0.2319 24.98);
	--color-accent-gray: oklch(0.7 0 0);
	--color-dark: oklch(0.1313 0.008 285.65);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	@apply font-display dark:bg-dark my-2 flex flex-col justify-center gap-4 bg-white px-4 pt-2 pb-16 text-black md:mx-auto md:max-w-3xl dark:text-zinc-200;
}

a {
	@apply underline transition-colors hover:text-zinc-700 dark:hover:text-zinc-300;
}

h1 {
	@apply text-3xl font-bold;
}

input[type='text'],
select {
	@apply rounded-lg border-1 border-zinc-300 p-1 px-2 transition-colors invalid:border-red-300 invalid:bg-red-200 hover:border-zinc-400 focus:border-zinc-400 focus:outline-0 dark:border-zinc-800 dark:invalid:border-red-900 dark:invalid:bg-red-950 dark:hover:border-zinc-700 dark:focus:border-zinc-700;
}

button {
	@apply cursor-pointer rounded-md transition-colors hover:bg-zinc-300 dark:hover:bg-zinc-800;
}

button.primary {
	@apply rounded-md border-1 border-zinc-300 p-1 active:border-zinc-400 dark:border-zinc-800 dark:active:border-zinc-700;
}
